@{
    ViewBag.Title = "Users";
}

<table>
    <thead>
        <tr>
            <td>User</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>

 <script type="text/template" id="user-template">
   <td><%= UserName %></td><td><%= Email %></td>
</script>

@section JavaScriptBottom {
    <script type="text/javascript">
       
    </script>
}