@model TopDevLinks.Models.ViewModels.PostsViewModel

@{
    ViewBag.Title = "TopDevLinks";
}

@foreach (var post in Model.Posts)
{
    <section>
        <div class="page-header">
            <h1>@post.PublishDate.Value.ToLongDateString()</h1>            
        </div>

        @foreach (var category in post.Categories)
        {
            <div class="row">
                <div class="span12">
                    <h3>@category.Name</h3>
                    <ul>
                        @foreach (var link in category.Links)
                        {                           
                            <li><a href="@link.Url">@link.Title</a></li>                       
                        }
                    </ul>
                </div>
            </div>            
        }

    </section>    
}
