@{
    ViewBag.Title = "TopDevLinks";
}

<div class="container">
    <header class="jumbotron subhead">
        <h1>TopDevLinks</h1>
        <p class="lead">Some text here</p>
    </header>
    Test
</div>