@{
    ViewBag.Title = "Categories";
}

@model TopDevLinks.Areas.Admin.Models.ViewModels.CategoriesIndexViewModel

<div class="page-header">
    <h1>Categories</h1>    
</div>
<div class="row">    
    @using (Html.BeginForm("Index", "Categories", FormMethod.Post, new { @class="form-horizontal" } )) {    
        <div class="span12">
        <fieldset>          
            <div class="control-group">
                <label class="control-label" for="input01">@Html.LabelFor(m => m.Name)</label>
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Name, new { @class="input-xlarge", style="width: 97%" })                    
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>           
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add</button>            
            </div>                 
        </fieldset>
        </div>        
    }         
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Name</td>            
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories.Items)
        {
            <tr>
                <td>@category.Name</td>                
            </tr>
        }
    </tbody>
</table>
